extends layout

block content
  h1= title
  p Welcome to #{title}
  <form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
  <input type="submit" value="Get me the stats!" class="btn btn-default"> 
  </form>
  <form action="/photos/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" multiple />
  </form>
